<div class="form-container max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md mb-2">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
        <div class="form-field mb-1">
            <label for="firstName">First Name:</label>
            <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="mt-2 w-full text-center px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
        </div>

        <div class="form-field mb-1">
            <label for="lastName">Last Name:</label>
            <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="mt-2 w-full text-center px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
        </div>

        <div class="form-field mb-1">
            <label for="email">Email:</label>
            <input
            type="email"
            id="email"
            formControlName="email"
            class="mt-2 w-full text-center px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
        </div>
    
        <div class="form-field mb-1">
            <label for="password">Password:</label>
            <input
            type="password"
            id="password"
            formControlName="password"
            class="mt-2 w-full text-center px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
        </div>
      
  
      <button type="submit"
      class="w-full mt-2 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition ease-in-out duration-150"
      >
        Register
      </button>
    </form>
  </div>
  