<div class="form-container max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md mb-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
      <div class="form-field mb-1">
        <label for="barcode">Barcode:</label>
        <input
          type="text"
          id="barcode"
          formControlName="barcode"
          class="mt-2 w-full text-center px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
  
      <div class="form-field mb-1">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="mt-2 w-full text-center px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
  
      <div class="form-field mb-1">
        <label for="price">Price:</label>
        <input
          type="number"
          id="price"
          formControlName="price"
          step="0.1"
          class="mt-2 w-full text-center px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
  
      <div class="form-field mb-1">
        <label for="placement_id">Placement:</label>
        <select id="placement_id" formControlName="placement_id"
          class="mt-2 w-full text-center px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        <option value="" disabled>Select placement</option>
         @for (p of placementOptions; track p)
         {
           <option [value]="p">{{ p }}</option>
         }
        </select>
      </div>
  
      <div class="form-field mb-1">
        <label for="quantity">Quantity:</label>
        <input
          type="number"
          id="quantity"
          formControlName="quantity"
          min="0"
          class="mt-2 w-full text-center px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
  
      <button type="submit"
      class="w-full mt-2 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition ease-in-out duration-150"
      >
        Create ware
      </button>
    </form>
  </div>
  