<h3 class="text-xl font-semibold text-gray-800 mb-4 mt-4">
    List of wares in warehouse:
</h3>
<table class="min-w-full w-3xl table-auto border-collapse bg-white shadow-md">
    <thead class="bg-gray-200">
        <tr>
            <th>Name</th>
            <th>Barcode</th>
            <th>Price</th>
            <th>Quantity</th>
            <th class="w-1/5">Number of wares to pack</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody class="text-m">
         @for (ware of wareList(); track ware.barcode)
         {
             <tr>
                 <td>{{ ware.name }}</td>
                 <td>{{ ware.barcode }}</td>
                 <td> ${{ ware.price }}</td>
                 <td>{{ ware.quantity }}</td>
                 <td> <app-update-ware-form
                    [action]='"decreaseQuantity"'
                    [barcode]="ware.barcode"
                    [submitFunction]="submitWareUpdateFunction()"
                     ></app-update-ware-form> </td>

                <td> <app-ware-delete-button
                    [barcode]="ware.barcode"
                    [submitFunction]="submitWareDeleteFunction()"
                    ></app-ware-delete-button> </td>
             </tr>
        } @empty {
            <div>
                No wares found in database. Possible error.
            </div>
        }
    </tbody>
</table>