<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-field mb-1">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      class="mt-2 w-full rounded-md border border-gray-300 px-2 py-1 text-center transition-all focus:ring-2 focus:ring-blue-500 focus:outline-none"
    />
  </div>

  <div class="form-field mb-1">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      class="mt-2 w-full rounded-md border border-gray-300 px-2 py-1 text-center transition-all focus:ring-2 focus:ring-blue-500 focus:outline-none"
    />
  </div>

  <button
    type="submit"
    class="mt-2 w-full rounded-lg bg-blue-600 py-2 font-semibold text-white transition-colors ease-in-out hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:outline-none"
  >
    Login
  </button>
</form>
