<form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  class="flex w-sm flex-col gap-2"
>
  @if (isValidating$ | async; as result) {
    <p>Checking if you are stealing my name...</p>
  }
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput formControlName="first_name" />
    @if (registerForm.get("first_name")?.hasError("required")) {
      <mat-error>First name is required</mat-error>
    }

    @if (registerForm.get("first_name")?.hasError("doNotStealMyFirstName")) {
      <mat-error>That first name is MINE</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput formControlName="last_name" />

    <mat-error>Last name is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    @if (registerForm.get("email")?.hasError("required")) {
      <mat-error>Email is required</mat-error>
    }
    @if (registerForm.get("email")?.hasError("email")) {
      <mat-error>Invalid email format</mat-error>
    }
  </mat-form-field>

  <div formGroupName="passwords" class="flex flex-col gap-2">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      @if (registerForm.get("passwords.password")?.hasError("required")) {
        <mat-error>Password is required</mat-error>
      }
      @if (registerForm.get("passwords.password")?.hasError("minlength")) {
        <mat-error>Must be at least 3 chars</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password_confirmation"
        [errorStateMatcher]="crossFieldErrorMatcher"
      />
      @if (
        registerForm
          .get("passwords.password_confirmation")
          ?.hasError("required")
      ) {
        <mat-error>Password confirmation is required</mat-error>
      }
      @if (registerForm.get("passwords")?.hasError("passwordMismatch")) {
        <mat-error>Passwords do not match</mat-error>
      }
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">Register</button>
</form>
