<div>
    <h3 class="text-xl font-semibold text-gray-800 mb-4 mt-4">
        <fa-icon icon="barcode"></fa-icon>
    Look up barcode
        <fa-icon icon="barcode"></fa-icon>
    </h3>

    <app-barcode-form
    [(barcode)]="barcode"
    ></app-barcode-form>
</div>    






<div>
    @if (wareLookupStatus() === "notSearched")
    {
        <div class="mb-4 mt-4">
            Scan or type in a barcode above to look up it up.
        </div>
    }
    @else if (wareLookupStatus() === "found") 
    {
        <h3 class="text-xl font-semibold text-gray-800 mb-4 mt-4">
            Ware found:
        </h3>

        <app-ware-item
        [lookedUpWare]="lookedUpWare()"
        [wareLookupStatus]="wareLookupStatus()"
        ></app-ware-item>
        
        <h4 class="text-xl font-semibold mb-4 mt-2">
            Number of wares to store:
        </h4>

        <app-update-ware-form
        [action]='"increaseQuantity"'
        [barcode]="barcode()"
        [submitFunction]="submitWareUpdateFunction()"
        ></app-update-ware-form>
    } 
    @else if (wareLookupStatus() === "notFound") 
    {
        <h3 class="text-xl font-semibold text-gray-800 mb-4 mt-4">
            Ware not found. Create it?
        </h3>   

        <app-create-ware-form
        [barcode]="barcode()"
        [submitFunction]="submitWareCreateFunction()"
        ></app-create-ware-form>
    }
</div>

